.heading {
    display: flex;
    justify-content: center;
}

.main{
    display: flex;
    flex-direction: column;

}
 
.form_div {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border: 2px solid grey;
    border-radius: 5px;
    width: 100%;
    /* margin-left: 10%; */
    box-shadow: 4px 3px 23px 0px rgba(102,102,102,1);
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: rgba(233, 233, 233, 0.856);
}
 
.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    font-size: 17px;
}
 
.form_div1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
    text-align: left;
}
 
.form_div3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
}
 
.form_div4 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
}
 
.form_div5 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}
 
form input {
    border-radius: 5px;
    height: 25px;
    padding: 2px;
    border: 1px solid;
    background-color: rgb(229, 229, 229);
}
 
form select {
    border-radius: 5px;
    height: 35px;
    padding: 6px;
    border: 1px solid;
    background-color: rgb(229, 229, 229);
}